/* Global styles */
body {
    font-family: 'Arial', sans-serif;
  }
  
  .repo-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .repo-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .repo-card a {
    text-decoration: none;
  }
  
  input {
    font-size: 16px;
  }
  
  .tooltip {
    visibility: hidden;
  }
  
  a:hover .tooltip {
    visibility: visible;
  }
  
  a {
    position: relative;
    display: inline-block;
  }
  
  input:focus {
    outline: none;
  }
  